#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid
{
    padding: 3% 15% 7%;
}

.h1{
    font-family: "montserrat-black";
    font-size: 3rem;
    line-height: 1.5;
}
.body{
    font-family: "montserrat";
}
.navbar{
    padding: 0 0 4.5rem;

}


.navbar-brand
{
    font-family:"ubuntu";
    font-size: 2.35rem;
    font-weight: bold;
}
h3{
    font-family: "montserrat-bold";
}
h2{
    font-family: "montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
}

.nav-item
{
    padding: 0 18px;
}
.nav-link
{
    font-size: 1.2rem;
    font-family:"montserrat-light" ;

}
p{
    color:#8f8f8f;
}

.download-button
{
    margin: 5% 3% 5% 0;
}
.title-image
{
    width:60%;
    transform:rotate(25deg);
    z-index: -1;
    
    right: 30%;
}
#features

{
    padding: 7% 15%;
    background-color: #fff;
    
    
}

.feature-box
{
    text-align: center;
    padding: 5%;
    
}
.icon
{
    color:#ef8172 ;
}

.icon:hover
{
    color: #ff4c68;
}

#testimonials
{
padding: 7% 15%;
text-align: center;
background-color: #ef8172;
color: #fff;
}

.testimonial-image
{
   width:10%;
    border-radius: 100%;
    margin: 20px;
}

#press
{
    background-color: #ef8172;
   text-align: center;
   padding-bottom: 3%; 
}

.press-logo
{
    width: 15%;
    margin: 20px 20px;
}
.carousel-item
{
    padding: 7% 15%;
}
#pricing{
    padding:100px ;
    text-align: center;

}
#pricing-column{
    padding: 3% 2%;
}


@media(max-width:1028px)
{
    #title
    {
        text-align: center;
    }
}

#footer i {
    padding: 0.8%;
    text-align:end;
  }